streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
imbalanced-learn
joblib
ydata-profiling
torch
sentence-transformers
nltk
requests
beautifulsoup4
lxml
transformers
networkx
pyvis
