streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
imbalanced-learn
joblib
ydata-profiling
torch
tqdm
sentence-transformers>=2.2.2
nltk
requests
beautifulsoup4
lxml
transformers
networkx
pyvis
einops
sentencepiece

